*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
*/.nb-gradle/
*/.jacocoverage/
TheGame/nbproject/jfx-impl_backup_1.xml
TheGame/nbproject/jfx-impl_backup_1.xml
TheGame/nbproject/jfx-impl_backup_1.xml
TheGame - Server/nbproject/jfx-impl_backup_11.xml
*.xml
TheGame - Client/nbproject/jfx-impl_backup_13.xml